@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --color1: rgb(88, 104, 100);
  --color2: rgb(247, 238, 228);
  --color3: rgb(37, 43, 42);
  --color4: rgb(140, 156, 152);
  --color5: rgb(179, 195, 190);
  --green: rgb(128, 161, 103);
  --red: rgb(189, 128, 128);
  --blue: rgb(22, 143, 139);
  --violet: rgb(132, 66, 128);
}

/* MAIN */

body {
  background-color: var(--color4);
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding: 5vmin;
  overflow: auto;
}

.container {
  height: 90vh;
  display: grid;
  grid-template-rows: 50px 40px 1fr;
}

h1 {
  font-size: clamp(25px, 3vw ,35px);
  color: var(--color2);
}

.button-new {
  background-color: var(--color5);
  width: 80px;
  height: 40px;
  padding: 1vmin;
  font-size: 17px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  color: var(--color3);
  font-weight: 600;
}

.button-new:hover, .button-new:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--color5);
}

/* ADD BLOG FORM */

.blog-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: clamp(200px, 90vw, 400px);
  height: clamp(400px, 40vh, 600px);
  background-color: var(--color5);
  box-shadow: 0 0 15px var(--color3);
  border-radius: 20px;
  padding: 3vmin;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.show-add {
  display: flex;
}

.hide-add {
  display: none;
}

/* INPUTS */

input {
  background-color: var(--color2);
  color: var(--color6);
  padding: 2vmin;
  font-size: clamp(15px, 3vmin, 18px);
  border: none;
  border-radius: 5px;
  outline: none;
  width: clamp(100px, 100%, 600px);
  height: clamp(30px, 100%, 50px);
}

input:hover {
  transform: scale(1.05);
}

input:active, input:focus {
  box-shadow: 0 0 15px var(--color2);
}

.alert {
  font-size: 15px;
  background-color: var(--red);
  color: var(--color3);
  box-shadow: 0 0 15px var(--red);
  border-radius: 5px;
  padding: 2px;
}

/* ADD BLOG BUTTONS */

.buttons-div {
  margin-top: 15px;
}

.submit, .return {
  color: var(--color3);
  font-weight: 600;
  width: 80px;
  height: 40px;
  padding: 1vmin;
  font-size: 17px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.submit:hover, .return:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--color3);
}

.submit {
  background-color: var(--green);
  margin-right: 10px;
}

.return {
  background-color: var(--red);
  margin-left: 10px;
}

/* BLOGS */

.render-blogs {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-template-rows: repeat(auto-fill, 200px);
  justify-content: center;
  gap: 3vmin;
  padding: 3vmin;
  overflow-y: auto;
}

.blog-container {
  background-color: var(--color2);
  color: var(--color3);
  width: 300px;
  height: 200px;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 2vmin;
  gap: 6px;
  box-shadow: 0 0 15px var(--color1);
}

.link-div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.link-div a {
  text-decoration: none;
  color: var(--blue);
  font-weight: 600;
  font-size: large;
}

.link-div a:hover {
  transform: scale(1.3);
}

.link-div a:visited {
  color: var(--violet);
}

/* SCROLLBAR */

::-webkit-scrollbar {
	width: 20px;
	height: 20px;
	background-color: var(--color1);
	border-radius: 1vmin;
	border: 6px solid transparent;
	background-clip: content-box;
  }

  ::-webkit-scrollbar-track {
	background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
	background-color: var(--color5);
	border-radius: 120px;
	border: 6px solid transparent;
	background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
	background-color: var(--color2);
  }

  ::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
  }
